# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Poetry
# =========================
poetry.lock.backup
poetry.toml

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Cache / Tooling
# =========================
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/
.cache/

# =========================
# FastAPI / Uvicorn
# =========================
*.pid

# =========================
# Database / Local Files
# =========================
*.sqlite
*.db

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
build/
dist/
wheelhouse/

# =========================
# Tests / Reports
# =========================
reports/
test-results/

# =========================
# Misc
# =========================
*.bak
*.tmp

.flake8
Commands.txt
CLAUDE.md
judge0-project-490503-faec1d29168b.json